*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");
html {
    font-size: 100%;
}

:root {
    --primary-100: #ffe0e0;
    --primary-200: #ffbebe;
    --primary-300: #ff9d9d;
    --primary-400: #ff7d7d;
    --primary-500: #fd0000;
    --primary-600: #be0000;
    --primary-700: #b90303;
    --primary-800: #850808;
    --primary-900: #6d0303;
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    --black: #222;
    --white: #fff;
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.55rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    --headingFont: 'Roboto', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --smallText: 0.7em;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 40em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text-small {
    font-size: var(--smallText);
}


/* animation */

@keyframes slideFromRight {
    0% {
        transform: translateX(1000px);
    }
    50% {
        transform: translateX(-200px);
    }
    75% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-1000px);
    }
    50% {
        transform: translateX(200px);
    }
    75% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    cursor: pointer;
    color: var(--white);
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transtion);
    text-transform: capitalize;
    display: inline-block;
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
}

.btn-block {
    width: 100%;
}

.btn:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
}


/* form */

.title-underline {
    margin-top: -1rem;
    background: var(--primary-500);
    height: 0.25rem;
    width: 7rem;
    margin: 0 auto;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background: var(--backgroundColor);
    border: 1px solid var(--grey-200);
}

.form-textarea {
    height: 7rem;
}

::placeholder {
    color: var(--grey-400);
    font-family: inherit;
}

.title {
    text-align: center;
}

.form-row {
    margin-bottom: 1rem;
}

.form {
    width: 90vw;
    background: var(--white);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    margin: 3rem auto;
    max-width: var(--fixed-width);
    padding: 2rem 2.5rem;
}

.form-label {
    margin-bottom: 0.5rem;
    letter-spacing: var(--letterSpacing);
    display: block;
    text-transform: capitalize;
    font-size: var(--smallText);
}


/*
============
NavBar
============
*/

.navbar {
    align-items: center;
    display: flex;
    background-color: white;
    justify-content: center;
}

.nav-center {
    max-width: var(--max-width);
    width: 90vw;
}

.nav-header {
    display: flex;
    align-items: center;
    height: 6rem;
    justify-content: space-between;
}

.nav-btn i {
    font-size: 1.25rem;
}

.nav-header img {
    width: 200px;
}

.nav-btn {
    padding: 1.15rem 1.75rem;
}

.nav-link:hover {
    color: var(--primary-700);
}

.nav-links {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
}

.nav-link {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-500);
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 0.85px solid var(--primary-900);
}

.show-links {
    height: 250px;
}

@media screen and (min-width: 992px) {
    .nav-btn {
        display: none;
    }
    .navbar {
        height: 6rem;
    }
    .nav-center {
        display: flex;
        align-items: center;
    }
    .nav-link {
        padding: 0;
        border-top: none;
        margin-right: 1rem;
        font-size: 1rem;
    }
    .nav-header {
        padding: 0;
        height: auto;
        margin-right: 2rem;
    }
    .nav-links {
        height: auto !important;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
}

.nav-logo {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}


/*
================
Header
================
*/

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../imgs/lasagna-hero2.jpg") center/cover no-repeat fixed;
    position: relative;
    min-height: 80vh;
}

.banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    letter-spacing: var(--letterSpacing);
}

.banner-subtitle {
    font-size: 2.3rem;
    font-family: "Grand Hotel", cursive;
    color: var(--primary-400);
}

.banner-title {
    margin-top: 2.3rem;
    text-transform: uppercase;
    color: moccasin;
    line-height: 1.4;
    font-size: 3.6rem;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
}

.btn-submit {
    font-family: var(--ff-primary);
    background: var(--clr-primary-8);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.form-control,
.btn-submit {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: var(--spacing);
    background: rgb(38, 70, 12);
    text-transform: capitalize;
    outline: none;
    border: transparent;
}


/*
===========
section food
===========
*/

.section-food {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    display: flex;
}

.section-food_title {
    display: flex;
    justify-content: center;
    color: #850808;
    font-weight: bolder;
}

.section-food_title h1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 4px;
}

.lasagna-card {
    transition: all 0.3s linear;
    background: rgba(156, 72, 4, 0.493);
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    margin-bottom: 2rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.lasagna-card:hover {
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.lasagna-card-footer {
    padding: 1.3rem 1.6rem;
}

.lasagna-card-text_title {
    text-transform: capitalize;
}

.lasagna-card-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lasagna-img-container img {
    position: relative;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.lasagna-card_img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 15rem;
}

@media screen and (min-width: 768px) {
    .section-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .lasagna-card {
        flex: 0 0 calc(50% - 2rem);
    }
}

@media screen and (min-width: 1170px) {
    .lasagna-card {
        flex: 0 0 calc(33.3333% - 1rem);
    }
}

@media screen and (min-width: 2280px) {
    body {
        font-size: small;
    }
    .lasagna-card {
        flex: 0 0 calc(25% - 0.5rem);
    }
}


/*

button more lasagnas
*/

.lasagna-btn-morecards {
    display: inline-block;
    background: var(--primary-800);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.8rem 1.2rem;
    border-style: inherit;
    font-weight: bold;
    cursor: pointer;
    transition: var(--mainTransition);
    margin-top: 2rem;
    max-width: 220px;
    display: flex;
    align-self: center;
}

.btn-primary {
    color: white;
}

.lasagna-btn-morecards:hover {
    background: var(--primary-700);
}


/*
=============
about section
=============
*/

.about-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../imgs/lasagna-hero.jpg") center/cover no-repeat fixed;
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 6%;
}

.about-section_title {
    display: flex;
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

.about-section p {
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 600px) {
    .about-section p {
        font-size: 1rem;
        display: flex;
        padding: 5px 30px;
    }
}


/*
===========
footer page
===========
*/

.footer-page {
    background: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 25rem;
}

.footer-logo-restaurant img {
    max-height: 220px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.links-category {
    padding: 5px 15px;
    color: rgba(226, 71, 71, 0.609);
    font-size: 1.2rem;
}

.social-icons {
    font-size: 55px;
    color: rgba(226, 71, 71, 0.609);
}

.icon:hover {
    color: rgba(230, 23, 23, 0.609);
    cursor: pointer;
}

.links-category_title {
    color: whitesmoke;
    font-size: 1.5rem;
}

.links-category>p:hover {
    color: rgba(230, 23, 23, 0.609);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .social-icons {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .footer-page {
        display: flex;
        flex-direction: column;
    }
}